.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

.vscode/
.DS_Store
out
spoj
*.dSYM/
number_converter/number_converter
number_converter/number_converter.dSYM/
# Local History for Visual Studio Code
.history/
*/bin
# Built Visual Studio Code Extensions
*.vsix